<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.obstreperous">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="Android.Test.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/maxresdefault"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"

        android:label="@string/app_name">


        <activity
            android:name=".MainActivity.MainActivity"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.PICK_ACTIVITY" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VulnerabilityList.VulnerabilityList" />
        <activity
            android:name=".Transport_Layer_Activities.TransportLayerMain"
            android:label="@string/title_activity_transport_layer_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".URLSchemes.URLSchemesMain"
            android:label=""/>
        <activity android:name=".DataStorage.DataStorageMain" />
        <activity android:name=".Intents.IntentsMain">
            <receiver
                android:name=".Intents.MyReceiver"
                android:enabled="true"
                android:exported="true">
                <intent-filter>
                    <action android:name="com.example.obstreperous.Intents" />
                    <action android:name="android.intent.action.ACTION_SEND" />
                </intent-filter>
            </receiver>
        </activity>
        <activity android:name=".Authentication.AuthenticationMain"
            android:label=""/>
        <activity android:name=".Authentication.InsecureAuthentication"
            android:label=""/>
        <activity android:name=".Authentication.SecureAuthentication"
            android:label=""/>
        <activity android:name=".BinaryProtections.BinaryProtectionMain" />
        <activity android:name=".ClientSideInjections.ClientSideInjectionMain" />
        <activity android:name=".LocalAccountBypass.LocalAccountBypassMain" />
        <activity android:name=".ServiceExportation.ServiceExportationMain" />
        <activity android:name=".Cryptography.CryptoMain" />
        <activity android:name=".DirectoryTraversal.DirectoryTraversalMain" />
        <activity android:name=".SessionHandling.SessionHandlingMain" />
        <activity android:name=".DataStorage.InsecureSharedPrefs" />
        <activity android:name=".DataStorage.SecureSharedPrefs" />
        <activity
            android:name=".SettingsActivity"
            android:label="" />
        <activity android:name=".Intents.ExplicitBroadcastTwo">
            <receiver android:name=".MyReceiver">
                <intent-filter>
                    <action android:name="com.example.obstreperous.Intents.MyReceiver_Activity" />
                </intent-filter>
            </receiver>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.example.obstreperous.Intents.ImplicitBroadcast" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Intents.ExplicitBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="com.example.obstreperous.Intents.ExplicitBroadcast" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cryptography.InsecureCrypto" />
        <activity android:name=".Cryptography.SecureCrypto" />

        <receiver
            android:name=".Intents.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Intents.ImplicitBroadcast" />

        <intent-filter>
            <action android:name="android.accounts.AccountAuthenticator" />
        </intent-filter>

        <meta-data
            android:name="android.accounts.AccountAuthenticator"
            android:enabled="true"
            android:exported="true"
            android:resource="@xml/authenticator" />

        <service
            android:name=".ServiceExportation.MyExportedService"
            android:exported="true" />
        <service
            android:name=".ServiceExportation.MySecureService"
            android:exported="false" />

        <activity android:name=".ServiceExportation.StartExportedServiceActivity" />
        <activity android:name=".ServiceExportation.StartSecureServiceActivity" />
        <activity
            android:name=".LocalAccountBypass.SecureAccount"
            android:exported="false" />
        <activity
            android:name=".LocalAccountBypass.VulnerableAccount"
            android:exported="true" />
        <activity
            android:name=".LocalAccountBypass.SecureAccountLogin"
            android:exported="false" />
        <activity
            android:name=".LocalAccountBypass.VulnerableAccountLogin"
            android:exported="true" />




        <activity android:name=".URLSchemes.CustomURL"

            android:label="">



        <intent-filter>
            <action android:name="com.example.obstreperous.action.VULNERABLE_SCHEME"/>
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:host="@string/IPAddress"
                android:path="/android/URLSchemes"
                android:scheme="vulnerable"
                />
        </intent-filter>





            </activity>








        <activity android:name=".URLSchemes.AndroidURL"></activity>















        <activity android:name=".BinaryProtections.MoreInfo"></activity>





    </application>

</manifest>
