<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Modules
            </a>
        </li>
        <li>
            <a href="/ios/datastorage">Insecure Data Storage</a>
        </li>
        <li>
            <a href="/ios/AuthenticationandAuthorization">Authentication and Authorization</a>
        </li>
        <li>
            <a href="/ios/Cryptography">Cryptography</a>
        </li>
        <li>
            <a href="/ios/Intents">Intents</a>
        </li>

		<!--<li>
            <a href="/android/m9">M9 - For future use</a>
        </li>
		<li>
            <a href="/android/m10">M10 - For future use</a>
        </li> -->
    </ul>
</div>
<!-- /#sidebar-wrapper -->
