<h1 style="color: #001e79" align=“left”>Introduction</h1>

<p>
  * This webapp is running as a background task and can be killed by running the stop.sh file.
</p>

<ul>
This application is used to provide developers a baseline for secure coding. It contains secure and insecure code examples for Android,
iOS and Web applications and discusses implications for each example. 
</ul>
<a> href="content://com.ionicsecurity.agent.app.provider/dictionary">hello</a>"