<h1 style="color: #001e79" align=“left”>Web</h1>


<p>
  * This webapp is running as a background task and can be killed by running the stop.sh file.
</p>



<ul>
<li>
<li>Click on any vulnerability in the list to the left to begin walking through some examples. 
</ul>

<div id="wrapper">

        <%= partial "shared/sidebar3".to_sym %>
        <div class="container">

        </div>
</div>
