<h1 style="color: #001e79" align=“left”>Web</h1>



<b> Let's get started: </b>

<p>
  * This webapp is running as a background task and can be killed by running the stop.sh file.
</p>

<ul>
<li>First install the app to the device you wish to use. This can be done with the 'adb install /path/to/the/apk/' command.
With the app installed, everything is should be set and running.
<li>Although I have included all the files to look at, I recommend attempting to reverse the sourcecode using <a href=“https://ibotpeaches.github.io/Apktool/”>Apktool</a>. The toolkit provides a quick and easy way to decompile the app for Android assessments.
<li>Decomiled Jar files can be opened and viewed with the tool <a href="https://sourceforge.net/projects/jadx/files/jadx-0.6.0.zip/download">jadx</a> Run this in the jadx folder "bin/jadx-gui lib/jadx-core-*.jar".
<li>A common website to download APK files is <a href=“https://apkpure.com/”>Apkpure</a>.
<li>Click on any vulnerability in the list to the left to begin walking through some examples.
</ul>

<div id="wrapper">

        <%= partial "shared/sidebar3".to_sym %>
        <div class="container">

        </div>
</div>
