<div class="panel-group" id="accordion">
<h4>Binary Protections</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Description / Recommendation
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Obfuscation: Obfuscation is a tool to deorganzie sourcecode. It mkaes following the code to learn flow more difficult by striping the common names used to label classes and activities and replaces them with letters. ProGaurd is a popular tool to use.</p>
        <p>Root Detection: Root detection can be used by apps to see if the application is rooted and then can take extra steps in a program to either disable features or add extra layers to protect users and the app. </p>
      </div>
    </div>
  </div>


  <div id="wrapper">

          <%= partial "shared/sidebar".to_sym %>
          <div class="container">

          </div>
  </div>
