<div class="panel-group" id="accordion">
<h4>Service Bypassing</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Description
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Similar to activities, services that are exported can be started by other applications and also started from the adb shell. Services that do not need to be exported should always set the exported value to false. The security of services and activities is limited by whether the devices is rooted or not.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Bug
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
<p>
In adb shell, the service can be started by sending a system command
"am startservice -n com.example.obstreperous/.ServiceExportation.MyExportedService"

This command will fail only if device is not rooted and the service is not exported.
</p>
      <pre class="swift">
        service
    android:name=".ServiceExportation.MyExportedService"
    android:exported="true"
</pre>

<p>
  In adb shell, the service can still be started by sending a system command
  "am startservice -n com.example.obstreperous/.ServiceExportation.MySecureService"

  This command will fail only if device is not rooted and the service is not exported.
</p>

<pre class="swift">
  service
android:name=".ServiceExportation.MyExportedService"
android:exported="false"
  </pre>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Video
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          Reference
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        <a href="">
        ???
        </a>
      </div>
    </div>
  </div>

</div>

<div id="wrapper">

        <%= partial "shared/sidebar".to_sym %>
        <div class="container">

        </div>
</div>
