<div class="panel-group" id="accordion">
<h4>URL Schemes</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Description
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        Coming soon
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Bug
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Coming soon
        <pre class="swift">
          ...
        </pre>
        <pre class="swift">
          ...
        </pre>
      </div>
    </div>
  </div>
</div>

<div id="wrapper">

        <%= partial "shared/sidebar".to_sym %>
        <div class="container">

        </div>
</div>
